In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:
load_data = pd.read_csv('luxury_housing_cleaned_v2.csv')
load_data.head()

TypeError: 'tuple' object is not callable

In [12]:
print(load_data.columns)
print(load_data.shape)

Index(['Property_ID', 'Project_Name', 'Developer_Name', 'Micro_Market',
       'Locality_Infra_Score', 'Avg_Traffic_Time_Min', 'Unit_Size_Sqft',
       'Configuration', 'Possession_Status', 'Amenity_Score',
       'Connectivity_Score', 'Luxury_Segment', 'Ticket_Price_Cr',
       'Price_per_Sqft_INR', 'Log_Ticket_Price_Cr', 'Log_Price_per_Sqft_INR',
       'Buyer_Type', 'NRI_Buyer', 'Sales_Channel', 'Transaction_Type',
       'Purchase_Quarter', 'Quarter_Number', 'Year', 'Booking_Flag',
       'Buyer_Comments'],
      dtype='object')
(99495, 25)

In [5]:
engine = create_engine(
    "postgresql+psycopg://postgres:Greybentley%40123@127.0.0.1:5432/luxury_house_db"
)

In [6]:
try:
    with engine.connect() as conn:
        print("✅ SQL Alchemy connected to Luxury Housing Database")
except Exception as e:
    print("❌ Connection failed:", e)

✅ SQL Alchemy connected to Luxury Housing Database

In [15]:
fact_df = load_data[
    [
        "Property_ID",
        "Developer_Name",
        "Ticket_Price_Cr",
        "Price_per_Sqft_INR",
        "Luxury_Segment",
        "Booking_Flag",
        "Purchase_Quarter",
        "Quarter_Number",
        "Year"
    ]
]

fact_df.to_sql(
    name="fact_sales",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

-100

In [8]:
# As the error says "Property_ID" does not exist in fact_sales table
#  and I have created 4 tables in the pgadmin using query tool hence dropping the table

In [ ]:
# # Dropped fact_sales table
# with engine.connect() as conn:
#     conn.execute(text("DROP TABLE IF EXISTS fact_sales"))
#     conn.commit()

In [16]:

dim_location_df = load_data[
    ["Property_ID", "Micro_Market", "Locality_Infra_Score", "Avg_Traffic_Time_Min"]
]

dim_location_df.to_sql(
    name="dim_location",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

-100

In [17]:
dim_location_df.shape
dim_location_df.head()

  Property_ID       Micro_Market  Locality_Infra_Score  Avg_Traffic_Time_Min
0  PROP000001      Sarjapur Road              9.212491                    18
1  PROP000002        Indiranagar              7.723898                   106
2  PROP000003  Bannerghatta Road              6.985493                   113
3  PROP000004       Bellary Road              6.100929                   106
4  PROP000005        Koramangala              5.312510                    18

In [18]:
dim_property_df = load_data[
    [
        "Property_ID",
        "Unit_Size_Sqft",
        "Configuration",
        "Amenity_Score",
        "Connectivity_Score",
        "Possession_Status"
    ]
]

dim_property_df.to_sql(
    name="dim_property",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

-100

In [19]:
dim_property_df.shape
dim_property_df.head()

,Property_ID,Unit_Size_Sqft,Configuration,Amenity_Score,Connectivity_Score,Possession_Status
0,PROP000001,4025.0,4 BHK,5.462863,7.990091,Launch
1,PROP000002,5760.0,3 BHK,7.499789,4.839024,Under construction
2,PROP000003,7707.0,4 BHK,8.669227,8.131315,Ready to move
3,PROP000004,6192.0,3 BHK,5.720246,7.501657,Ready to move
4,PROP000005,7147.0,4 BHK,8.609649,4.525216,Under construction

In [20]:
dim_buyer_df = load_data[
    ["Property_ID", "Buyer_Type", "NRI_Buyer", "Sales_Channel"]
]

dim_buyer_df.to_sql(
    name="dim_buyer",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

-100

In [21]:
dim_buyer_df.shape
dim_buyer_df.head()

  Property_ID Buyer_Type NRI_Buyer Sales_Channel
0  PROP000001        NRI       yes        Broker
1  PROP000002      Other        no      NRI Desk
2  PROP000003        HNI       yes        Direct
3  PROP000004        HNI       yes        Online
4  PROP000005        HNI        no        Broker

### All the tables are loaded in PGadmin - as star schema - loaded cleaned data using SQL Alchemy, handled schema mismatches a d validated rows also.